<div class="container">
    <form #projectForm="ngForm" class="form-horizontal" role="form" (ngSubmit)="lookupQuote()">

        <div class="row form-group">
            <!--Text field-->
            <label class="col-md-2 control-label">Gender</label>
            <div class="col-md-10">
                <select class="form-control" required
                        [(ngModel)]="loggedInPerson.gender" name="gender">
                    <option value="">Please select</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>

            <label class="col-md-2 control-label">DOB</label>
            <div class="col-md-10">
                <input [(ngModel)]="dob" type="text" ngControl="dob" class="form-control date" name="dob"  (blur)="dob = $event.target.value"/>
                <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
            </div>

            <label class="col-md-2 control-label">Age</label>
            <div class="col-md-10">
                <div *ngIf="ageMorethan30()">Hello 40 Plus</div>
                <div *ngIf="!ageMorethan30()">Sorry Below 40</div>
                <input [(ngModel)]="loggedInPerson.age" readonly type="text" ngControl="age" class="form-control" name="age"
                       focus="1"/>
            </div>

            <label class="col-md-2 control-label">Zip</label>
            <div class="col-md-10">
                <input [(ngModel)]="loggedInPerson.zip" type="text" ngControl="zip" class="form-control" name="zip"
                       focus="1" (change)="lookupZip()"/>
            </div>

            <label class="col-md-2 control-label">City, State</label>
            <div class="col-md-10">
                <input [value]="cityState()" readonly  ngControl="cityState" type="text" class="form-control" name="city"
                       focus="1" />
            </div>

            <label class="col-md-2 control-label">Smoker</label>
            <div class="col-md-10">
                <input [(ngModel)]="loggedInPerson.smoker" name="smoker" class="form-control" type="checkbox"/>
            </div>

            <label class="col-md-2 control-label">Face</label>
            <div class="col-md-10">
                <input [(ngModel)]="loggedInPerson.face" type="number" ngControl="face" type="text" class="form-control" name="face" focus="1"/>
            </div>

            <label class="col-md-2 control-label">Term</label>
            <div class="col-md-10">
                <input [(ngModel)]="loggedInPerson.term"  ngControl="term" type="text" class="form-control" focus="1" name="term"/>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
    <button class="btn btn-success" (click)="controller.loggedInPerson.save()">Save Quote options</button>

    <div>&nbsp;</div>
    <div *ngIf="premium">
        PREMIUM
        <span style="font-size: 30px; font-weight: bold">{{premium | currency: 'USD':true}}</span>
    </div>


</div>